{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Projects</h1>
<div class="index">
{% for project in projects %}

        <div class="second">
            <a href="{% url 'projects:project_detail' project.pk %}"><img class="img" height="400" width="350" src="{{ project.image.url }}" alt="{{ project.title }}"></a>
            <div class="card-body">
                <h4 class="card-title">{{ project.title }}</h4>
                <p class="card-text">{{ project.description }}</p>
            </div>
        </div>
{% endfor %}
</div>
{% endblock %}