{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Projects</h1>
<div class="index">
{% for project in projects %}
    <div class="first">
        <div class="second">
            <img class="img" src="{{ project.image.url }}" alt="{{ project.title }}">
            <div class="card-body">
                <h4 class="card-title">{{ project.title }}</h4>
                <p class="card-text">{{ project.description }}</p>
                <button type="button" class="btn1">
                    <a href="{% url 'projects:project_detail' project.pk %}">Read More >></a>
                </button>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}