{% load static %}
<link rel="stylesheet" href="{% static 'resume/css/test.css'%}" type="text/css">
{% block content %}
<h1>{{ project.title }}</h1>
<div class="detail">
    <div class="image">
        <img src="{{ project.image.url }}" alt="sorry" width="560" height="500">
    </div>
    <div class="description">
        <h2 class="card-title">{{ project.title }}</h2>
        <h3>About the project:</h3>
        <p>{{ project.description }}</p>
        <h3>Technology used:</h3>
        <p>{{ project.technology }}</p>
        <h3>Major goals achieved:</h3>
        <p>{{ project.goals }}</p>
    </div>
</div>
{% endblock %}