{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="info">
        <h2><b>Aashish Shrestha</b></h2>
        <h3>Welcome to my portfolio here you can get information related to and my experience </h3>
    </div>

    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/aashish.shrestha.97"><img src="{{ 'media/images/fb.png' }}" height="40px" width="40px"/></a></li>
            <li><a href="https://www.instagram.com/_aashish_shrestha_/"><img src="{{ 'media/images/insta.png' }}" height="40px" width="40px"/></a></li>
            <li><a href="https://www.linkedin.com/in/aashish-shrestha-b6354b139/"><img src="{{ 'media/images/link.png' }}" height="40px" width="40px"/></a></li>
            <li><a href="https://github.com/Aashish97"><img src="{{ 'media/images/github.png' }}" height="40px" width="40px"/></a></li>
        </ul>
    </div>

    <div class="profile">
        <img src="{{ 'media/images/dabs.png' }} " height="100%" width="100%">
    </div>
</div>


{% endblock %}