*{
    color: #000;
}

.navbar{
    background-color: green;
    position: relative;
    height: 50px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: 0.6s ease;
}

.navbar ul li a:hover{
    background-color: lightgray;
    color: #000;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.navbar-nav{
    float: right;
    display: inline-block;
}

.navbar-nav li{
    display: inline-block;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: lightgray;
    color: white;
}

.navbar-brand{
    font-size: 30px;
    text-shadow: 2px 2px 5px red;
    font-family: 'Satisfy', cursive;
    color: white;
}

.row{
    float: left;
    height: 100%;
    width: 100%;
}

.info{
    color: black;
    height: 100%;
    width: 550px;
    float: left;
}

.social{
    margin-top: 250px;
    position: relative;
    height: 100%;
    width: 1px;
    float: left;
}

.profile{
    height: 100%;
    width:580px;
    float: right;

}

.image{
    float: left;
    width: 50%;
}

.description{
    float: right;
    width: 50%;
}

a:link{
    text-decoration: none;
}

.second{
    width: 32%;
    float: left;
    padding:8px;
}

.projects{
    text-align: center;
    width:100%;
}

.card-body{
    width:32%;
    float: left;
}

.button{
    height:40px;
    align-items:center;
    background-color: green;
    padding: 10px;
}

.button:hover{
    background-color: lightgray;
    color: #000;
}

.languages{
    width: 800px;
    margin:0 auto;
}

.languages h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.languages h2{
    text-align: left;
}

.line{
    height: 25px;
    min-width: 800px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}

.line:before{
    content: '';
    width:100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index:-2;
    background: black;
}

.line:after{
    content: '';
    background: green;
    height: 25px;
    transition: 0.5s;
    display: block;
    width: 100%;
    animation: animate 1 2s;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.line8:after{
    max-width: 90%;
}

.line9:after{
    max-width: 75%;
}

.line10:after{
    max-width: 70%;
}

@keyframes animate {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}

.education{
    text-align: center;
    margin-left: 350px;
    text-transform: uppercase;
    margin-top: 40px;
    height: 450px;
    width: 450px;
    background-color: green;
}

.education h1{
    background-color: lightgray;
}

.skills{
    width: 800px;
    margin:0 auto;
}

.skills h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.skills h2{
    text-align: left;
}

.line{
    height: 25px;
    min-width: 800px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}

.line:before{
    content: '';
    width:100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index:-2;
    background: black;
}

.line:after{
    content: '';
    background: green;
    height: 25px;
    transition: 0.5s;
    display: block;
    width: 100%;
    animation: animate 1 2s;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.line1:after{
    max-width: 65%;
}

.line2:after{
    max-width: 65%;
}

.line3:after{
    max-width: 70%;
}

.line4:after{
    max-width: 75%;
}

.line5:after{
    max-width: 70%;
}

.line6:after{
    max-width: 75%;
}

.line7:after{
    max-width: 75%;
}
/*.line8:after{*/
    /*max-width: 50%;*/
/*}*/

@keyframes animate {
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}

/*.working_experience{*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*margin-top: 40px;*/
/*}*/

.main{
    text-align: center;
    background-color: green;
    height:100px;
}

.main ul li{
    position: relative;
    display: inline-block;

}
.second{
    float: left;
}
