*{
    color: #000;
}

.navbar{
    background-color: green;
    position: relative;
    height: 50px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: 0.6s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: #000;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.navbar-nav{
    float: right;
    list-style: none;
    display: inline-block;
}

.navbar-nav li{
    display: inline-block;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: lightgray;
    color: white;
}

.navbar-brand{
    font-size: 30px;
    text-shadow: 2px 2px 5px red;
    font-family: 'Satisfy', cursive;
    color: white;
}

.row{
    float: left;
    height: 70%;
    width: 100%;
}

.info{
    color: black;
    height: 100%;
    width: 550px;
    float: left;
}

.social{
    margin-top: 250px;
    position: relative;
    height: 100%;
    width: 1px;
    float: left;
}

.profile{
    height: 100%;
    width:580px;
    float: right;

}

.image{
    float: left;
    width: 50%;
}

.description{
    float: right;
    width: 50%;
}

a:link{
    text-decoration: none;
}

.second{
    width: 32%;
    float: left;
    padding:12px;

}

